<h1>Github View</h1>
<% @name.each do |item| %>
  <ul>
    <li><%= item %></li>
  </ul>
<% end %>

<% @contrib.each do |item| %>
  <ul>
    <li><%= item %></li>
  </ul>
<% end %>



 <div class="box"></div>

  <script type="text/javascript">
  var cont = <%= @contrib %>
  for (var i = 0; i < cont.length; i++) {
    $(".box").append('<div class="bar-chart"></div>')    
  };


  
    d3.select(".box").selectAll("div")
      .data(cont)
      .transition()
      .duration(3000)
      .style("background-color", "purple")
      .style("width", function(d) {
        return d*20 + "px"
      })
  </script>